{% extends 'base.html' %}
{% block main_script %}
  <script> 
$(function(fn){
    var board_table = $('<table id="board_list_table">');
    var lDiv = $('#list_div');
    lDiv.append(board_table);


    var list_table_el = $('#board_list_table');

})
  </script>
{% endblock %}

{% block main_content %}
  <div id='list_div'>
    <h3 id='my_boards'>My Puzzles:</h3>
    <table id='board_list_table'></table>
    <h3 id='shared_boards'>Puzzles Shared With Me:</h3>
    <table id='shared_board_list_table'>
      <tr>
        <th class='board_name_cell left_col'>Name</th>
        <th class='owner_name_cell right_col'>Owner</th>
        <th></th>
        <th></th>
      </tr>
    {% for board in shared_boards %}
      <tr id='board_{{board.id}}' class='first_row'>
        <td class='board_name_cell left_col'>{{ board.name  }}</td>
        <td class='owner_name_cell right_col'>{{ board.user__first_name }}
          {{ board.user__last_name}}</td>
        <td><span><a class='board_icon ui-icon ui-icon-folder-open' 
             href='/board.html/{{ board.id }}/'></a></span></td>
        <td><span><a class='board_icon ui-icon ui-icon-trash' 
             href='javascript:delete_board({{ board.id }});'></a></span></td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}
