<html>
<head>
<title>Sudoku Solver</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <link href='/static/solver/css/solver.css' rel='stylesheet' type='text/css'></link>
  <script src="http://code.jquery.com/jquery-2.0.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src='/static/solver/js/cell.js'> </script>
  <script src='/static/solver/js/group.js'> </script>
  <script src='/static/solver/js/row.js'> </script>
  <script src='/static/solver/js/col.js'> </script>
  <script src='/static/solver/js/tic.js'> </script>
  <script src='/static/solver/js/board.js'> </script>
  <script src='/static/solver/js/load_dialog.js'> </script>
  <script src='/static/solver/js/save_dialog.js'> </script>
  <script src='/static/solver/js/control_button.js'> </script>
  <script src='/static/solver/js/control_link.js'> </script>
  <script src='/static/solver/js/num_button.js'> </script>
  <script src='/static/solver/js/solve_link.js'> </script>
  <script src='/static/solver/js/anchor_link.js'> </script>
  <script src='/static/solver/js/clear_link.js'> </script>
  <script src='/static/solver/js/load_link.js'> </script>
  <script src='/static/solver/js/save_link.js'> </script>
  <script src='/static/solver/js/controls.js'> </script>
  <script src='/static/solver/js/util.js'> </script>
  <script>
$(function(fn){

  var board_el = $('#board_table');
  var id = {{ id }};
  if(id == -1){
    id = null;
  }
  var bt = $(document.body).board_table(board_el, id);
  bt.load_data();
  var controls_el = $('#controls_table')
  var con = $(document.body).board_controls(controls_el, bt);
  var con_div = $('#controls_div');
  if(window.innerWidth > window.innerHeight){
    con_div.offset({left: 420, top: 100});
  }else{
    con_div.offset({left: 50, top: 500});
  }
})
  </script>
</head>
<body>
  <form id='csrf_form'>{% csrf_token %} </form>
  <h2>All your sudoku are belong to us</h2>
  <div id='board_div'>
    <h3 id='board_name'>Untitled</h3>
    <table id='board_table'>
    </table>
  </div>
  <div id='controls_div'>
    <table id='controls_table'>
    </table>
  </div>
</body>
</html>

