{% extends 'base.html' %}
{% block main_script %}
  <script> 
$(function(fn){
})
  </script>
{% endblock %}

{% block main_content %}
  <div id='list_div'>
    <h3 id='board_name'>My Puzzles:</h3>
    <table id='board_list_table'>
    {% for board in board_list %}
      <tr id='board_{{board.id}}' class={% cycle 'first_row' 'second_row' %}>
        <td class='board_name_cell'>{{ board.name  }}</td>
        <td><span><a class='board_icon ui-icon ui-icon-pencil' 
             href='/board.html/{{ board.id }}/'></a></td>
        <td><a class='board_icon ui-icon ui-icon-trash' 
             href='javascript:delete_board({{ board.id }});'></a></td>
      </tr>
    {% endfor %}
      <tr>
        <td class='board_name_cell new_board_cell'>Create New: </td>
        <td class='new_board_cell' colspan=2>
          <a class='ui-icon ui-icon-plus' href='/board.html'></a>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}
