<html itemscope itemtype="http://schema.org/Article">
<head>
<title>Sudoku Solver</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <link href='/static/solver/css/solver.css' rel='stylesheet' type='text/css'></link>
  <script src="http://code.jquery.com/jquery-2.0.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src='/static/solver/js/util.js'> </script>
  <script type='text/javascript'>
    (function () {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();
  </script>
</head>
<body>
  <form id='csrf_form'>{% csrf_token %} </form>
  <h2>All your sudoku are belong to us</h2>
  <div id='signinButton'>
  <span class="g-signin"
    data-scope="https://www.googleapis.com/auth/plus.login"
    data-clientid="260119194634-knovqeqd6ik2pti8u4nauqnaoieeqshc.apps.googleusercontent.com"
    data-redirecturi="postmessage"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-callback="signInCallback">
  </span>
  </div>
</body>
</html>
